html,
body,
:root {
  height: 100%;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: 'Inter' sans-serif;
  background: #000;
  color: #fff;
}

html.lenis {
  height: auto;
}

.lenis.lenis-smooth {
  scroll-behavior: auto;
}

.lenis.lenis-smooth [data-lenis-prevent] {
  overscroll-behavior: contain;
}

.lenis.lenis-stopped {
  overflow: hidden;
}

.lenis.lenis-scrolling iframe {
  pointer-events: none;
}
