---
import BaseLayout from '@layouts/BaseLayout.astro'
---

<BaseLayout title="404">
  <section class="flex h-full flex-col items-center justify-center">
    <h1 class="text-[clamp(2.5rem,8vw,8rem)] font-medium mb-10">404 ;(</h1>
    <span class="text-[clamp(1rem,5vw,2rem)] mb-2"
      >This page does not exist.</span
    >
    <a
      class="underline text-[clamp(1rem,5vw,2rem)]"
      href="/"
    >
      go home</a
    >
  </section>
</BaseLayout>
