---
import BaseLayout from '@layouts/BaseLayout.astro'
---

<BaseLayout title="About page">
  <h1
    class="mb-20 max-w-7xl font-medium text-[clamp(2.5rem,8vw,8rem)] leading-none"
  >
    this is about page
  </h1>
  <p>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Illum eum
    voluptatem aliquid non neque eos ullam iste ipsam, eaque dicta, enim alias.
    Excepturi repudiandae ipsam voluptatem. Natus incidunt voluptatem quos.
  </p>
</BaseLayout>
