---
import Layout from '@layouts/Layout.astro'
import TheHeader from '@components/TheHeader.astro'
import TheFooter from '@components/TheFooter.astro'
import SectionHero from '@sections/SectionHero.astro'
import SectionAbout from '@sections/SectionAbout.astro'
import SectionLatestWorks from '@sections/SectionLatestWorks.astro'
---

<Layout title="Personal portfolio">
  <div class="flex flex-col min-h-screen">
    <TheHeader />
    <main class="flex-grow">
      <SectionHero />
      <SectionAbout />
      <SectionLatestWorks />
    </main>
    <TheFooter />
  </div>
</Layout>
