---
import BaseLayout from '@layouts/BaseLayout.astro'
import TheHeader from '@components/TheHeader.astro'
import TheFooter from '@components/TheFooter.astro'
import SectionAbout from '@sections/SectionAbout.astro'
import SectionHero from '@sections/SectionHero.astro'
import SectionLatestWorks from '@sections/SectionLatestWorks.astro'
import SectionCollaborations from '@sections/SectionCollaborations.astro'
---

<BaseLayout
  title="Personal Portfolio"
  description="Welcome to my personal portfolio! I'm a passionate frontend developer with a strong focus on creating user-friendly and visually stunning web applications. Explore my work to see how I turn ideas into interactive and responsive websites. Let's collaborate and bring your web projects to life"
>
  <div class="flex flex-col min-h-screen overflow-x-hidden">
    <TheHeader />
    <main class="flex-grow">
      <SectionHero />
      <SectionAbout />
      <SectionLatestWorks />
      <SectionCollaborations />
    </main>
    <TheFooter />
  </div>
</BaseLayout>
