---
import BaseLayout from '@layouts/BaseLayout.astro'
---

<BaseLayout title="About page">
  <p>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Illum eum
    voluptatem aliquid non neque eos ullam iste ipsam, eaque dicta, enim alias.
    Excepturi repudiandae ipsam voluptatem. Natus incidunt voluptatem quos.
  </p>
</BaseLayout>
