---
import { twMerge } from 'tailwind-merge'
import type { HTMLAttributes } from 'astro/types'

type Props = HTMLAttributes<'section'>

const { class: classes, ...rest } = Astro.props as Props
---

<section
  class:list={twMerge('py-20 md:py-30 sticky bg-black top-0 h-screen', classes)}
  {...rest}
>
  <div class="container">
    <slot />
  </div>
</section>
