---
import type { HTMLAttributes } from 'astro/types'

type Props = HTMLAttributes<'button'>

const { class: classes } = Astro.props
---

<button
  type="button"
  class:list={['py-6 px-4 rounded-full border border-white bg-black', classes]}
>
  <slot />
</button>
