---
import { Image } from 'astro:assets'
import type { HTMLAttributes } from 'astro/types'

type Props = HTMLAttributes<'button'> & {
  iconRight?: string
  iconLeft?: string
}

const { class: classes, iconRight, iconLeft, ...rest } = Astro.props
---

<button
  type="button"
  aria-label="Button"
  class:list={['', classes]}
  class="h-full py-4 uppercase px-6 border flex items-center flex-nowrap font-medium space-x-4 rounded-full"
  {...rest}
>
  {
    iconLeft && (
      <Image
        src={`/${iconLeft}.svg`}
        alt="Button icon left"
        width="20"
        height="20"
      />
    )
  }
  <span>
    <slot />
  </span>
  {
    iconRight && (
      <Image
        src={`/${iconRight}.svg`}
        alt="Button icon right"
        width="20"
        height="20"
      />
    )
  }
</button>
