---
import { twMerge } from 'tailwind-merge'
import { Icon } from 'astro-icon'
import type { HTMLAttributes } from 'astro/types'

type Props = HTMLAttributes<'button'> & {
  iconRight?: string
  iconLeft?: string
}

const { class: classes, iconRight, iconLeft, ...rest } = Astro.props as Props
---

<button
  type="button"
  aria-label="Button"
  class:list={twMerge(
    'h-full py-4 uppercase px-6 border flex items-center justify-center flex-nowrap font-medium space-x-4 rounded-full',
    classes
  )}
  {...rest}
>
  {
    iconLeft && (
      <Icon
        class="w-6 h-6"
        name={iconLeft}
      />
    )
  }
  <span>
    <slot />
  </span>
  {
    iconRight && (
      <Icon
        class="w-6 h-6"
        name={iconRight}
      />
    )
  }
</button>
