---
import type { HTMLAttributes } from 'astro/types'

type Props = HTMLAttributes<'section'>

const { class: classes, ...rest } = Astro.props
---

<section
  class:list={['py-20 md:py-10', classes]}
  {...rest}
>
  <div class="container">
    <slot />
  </div>
</section>
