---
import type { HTMLAttributes } from 'astro/types'

type Props = HTMLAttributes<'h1'>

const { class: classes, ...rest } = Astro.props as Props
---

<h1
  class:list={[
    'mb-20 font-medium text-[clamp(2rem,8vw,8rem)] leading-none',
    classes,
  ]}
  {...rest}
>
  <slot />
</h1>
