---
import type { HTMLAttributes } from 'astro/types'

type Props = HTMLAttributes<'h1'>

const { class: classes, ...rest } = Astro.props as Props
---

<h1
  class:list={[
    'mb-20 leading-none tracking-tighter uppercase font-bold text-[clamp(2rem,8vw,8rem)]',
    classes,
  ]}
  {...rest}
>
  <slot />
</h1>
