---
import { twMerge } from 'tailwind-merge'
import type { HTMLAttributes } from 'astro/types'

type Props = HTMLAttributes<'h1'>

const { class: classes, ...rest } = Astro.props as Props
---

<h1
  class:list={twMerge(
    'mb-10 md:mb-20 tracking-tighter uppercase font-bold text-[clamp(2rem,8vw,8rem)]',
    classes
  )}
  class="leading-none"
  {...rest}
>
  <slot />
</h1>
