---
import type { HTMLAttributes } from 'astro/types'

type Props = HTMLAttributes<'footer'>

const { class: classes, ...rest } = Astro.props as Props
---

<footer
  class:list={['md:py-6 py-4', classes]}
  {...rest}
>
  <div class="container">
    <small class="text-center">
      copyright &copy; {new Date().getFullYear()}
    </small>
  </div>
</footer>
