---
import BurgerMenu from './BurgerMenu.astro'
import TheLogo from './TheLogo.astro'
---

<header class="py-4">
  <div class="container flex items-center justify-between">
    <TheLogo />
    <BurgerMenu />
  </div>
</header>
