---
import { Image } from 'astro:assets'

interface link {
  name: string
  href: string
}

const test = 5

const links: link[] = [
  {
    name: 'About',
    href: '#about',
  },
  {
    name: 'Project',
    href: '#project',
  },
  {
    name: 'Contacts',
    href: '#contacts',
  },
]
---

<header class="py-4">
  <div class="container flex items-center justify-between">
    <Image
      src="/logo.svg"
      width="40"
      height="40"
      alt="logo"
    />
    <nav>
      <ul class="items-center flex text-[clamp(1.5rem,3vw,2rem)] space-x-10">
        {
          links.map((link) => (
            <li>
              <a href={link.href}>{link.name}</a>
            </li>
          ))
        }
      </ul>
    </nav>
  </div>
</header>
