---
import type { HTMLAttributes } from 'astro/types'

import BaseSection from '@components/BaseSection.astro'
import Heading from '@components/Heading.astro'

type Props = HTMLAttributes<'section'>

const works = [
  {
    title: 'Focus-App Blocker',
  },
  {
    title: 'Indigence-Agency Website',
  },
  {
    title: 'Eneftee-NFT Launchpad Website',
  },
]
---

<BaseSection id="latest-works">
  <Heading>Latest works.</Heading>
  <ul>
    {
      works.map((work) => (
        <li class="py-10 text-[clamp(1rem,5vw,3rem)] border-t border-b">
          {work.title}
        </li>
      ))
    }
  </ul>
</BaseSection>
