---
import BaseSection from '@components/BaseSection.astro'

interface Props extends astroHTML.JSX.HTMLAttributes {}
---

<BaseSection>
  <h2 class="text-[clamp(1.5rem,8vw,9rem)]">Latest works.</h2>
</BaseSection>
