---
import type { HTMLAttributes } from 'astro/types'

import { Image } from 'astro:assets'
import BaseSection from '@components/BaseSection.astro'
import Heading from '@components/Heading.astro'

type Props = HTMLAttributes<'section'>

const works = [
  {
    title: 'Focus-App Blocker',
  },
  {
    title: 'Indigence-Agency Website',
  },
  {
    title: 'Eneftee-NFT Launchpad Website',
  },
]
---

<BaseSection id="latest-works">
  <Heading class="flex items-center justify-between">
    <span>Latest works.</span>
    <span>02</span>
  </Heading>
  <ul>
    {
      works.map((work) => (
        <li class="flex items-center group text-[clamp(1rem,5vw,3rem)] border-t border-b">
          <a
            class="block w-full h-full py-10"
            href="#"
          >
            <button
              class="-ml-4 transition-all duration-500 opacity-0 group-hover:opacity-100 group-hover:ml-0 group-hover:mr-5 group-hover:opacity-1"
              type="button"
              aria-label="Arrow right"
            >
              <Image
                src="/arrow-right.svg"
                width="40"
                height="40"
                alt="Arrow right"
              />
            </button>
            <span>{work.title}</span>
          </a>
        </li>
      ))
    }
  </ul>
</BaseSection>
