---
import BaseSection from '@components/BaseSection.astro'
import BaseButton from '@components/BaseButton.astro'
import Heading from '@components/Heading.astro'
---

<BaseSection id="hero">
  <Heading>
    Welcome to my digital playground. Make Your online visions a reality.
  </Heading>

  <div class="flex flex-wrap justify-between gap-10">
    <BaseButton iconRight="arrow">let's connect with me</BaseButton>

    <p class="max-w-3xl text-[clamp(0.5rem,5vw,2rem)] uppercase">
      in the world of web development, i find my creative spirit truly alive.
      crafting elegant, user-friendly interfaces and solving complex problems
      using code is where i feel most at home. it's the perfect blend of art and
      technology that fuels my passion.
    </p>
  </div>
</BaseSection>
