---
import BaseSection from '@components/BaseSection.astro'
import BaseButton from '@components/BaseButton.astro'
---

<BaseSection>
  <h1 class="text-[clamp(1.5rem,8vw,9rem)] mb-10">
    Designing the future, one pixel at a time.
  </h1>

  <div class="flex justify-between">
    <!-- <BaseButton class="hidden">click me</BaseButton> -->

    <p class="max-w-3xl text-[clamp(1rem,5vw,2rem)]">
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Blanditiis,
      facere doloribus. Consectetur, tenetur recusandae porro delectus
      architecto ab expedita incidunt facere iste maxime dicta, cumque,
      temporibus laudantium excepturi iure libero?
    </p>
  </div>
</BaseSection>
