---
import BaseSection from '@components/BaseSection.astro'
---

<BaseSection class="bg-white text-black">
  <h2 class="text-[clamp(1.5rem,8vw,9rem)] mb-4">about me.</h2>

  <p class="text-[clamp(1rem,5vw,2rem)]">
    Lorem ipsum dolor sit amet consectetur, adipisicing elit. Veritatis, cumque
    culpa quas, aut voluptas fugiat, cupiditate provident voluptatum temporibus
    dicta vero iste. Laborum ducimus accusamus quam at doloremque velit magnam?
  </p>
</BaseSection>
