---
import type { HTMLAttributes } from 'astro/types'
import BaseSection from '@components/BaseSection.astro'
import Heading from '@components/Heading.astro'

type Props = HTMLAttributes<'div'>

const { class: classes } = Astro.props as Props
---

<BaseSection
  class:list={['bg-white rounded-3xl text-center text-black', classes]}
  id="communication"
>
  <Heading>Communication sparks new beginnings.</Heading>

  <p class="max-w-7xl text-[clamp(0.5rem,5vw,3rem)] mx-auto">
    I'm available for worldwide freelance work – let's connect for potential
    collaborations.
  </p>
</BaseSection>
