---
import BaseSection from '@components/BaseSection.astro'
import { Image } from 'astro:assets'
---

<BaseSection class="bg-white text-black">
  <h2 class="text-[clamp(1.5rem,8vw,9rem)] mb-4">About me.</h2>

  <div class="flex justify-between gap-10">
    <Image
      src="/damn-ice-cube.gif"
      alt="me"
      width="5000"
      height="5000"
    />
    <p class="text-[clamp(1rem,5vw,2rem)]">
      Lorem ipsum dolor sit amet consectetur, adipisicing elit. Veritatis,
      cumque culpa quas, aut voluptas fugiat, cupiditate provident voluptatum
      temporibus dicta vero iste. Laborum ducimus accusamus quam at doloremque
      velit magnam?
    </p>
  </div>
</BaseSection>
