---
import type { HTMLAttributes } from 'astro/types'
import BaseSection from '@components/BaseSection.astro'

type Props = HTMLAttributes<'div'>

const { class: classes } = Astro.props
---

<BaseSection class="bg-white rounded-3xl text-center text-black">
  <h2 class="text-[clamp(1.5rem,8vw,9rem)] font-medium leading-none mb-20">
    Communication sparks new beginnings.
  </h2>
  <p class="text-[clamp(1rem,5vw,4rem)]">
    I'm available for worldwide freelance work – let's connect for potential
    collaborations.
  </p>
</BaseSection>
