---
import BaseSection from '@components/BaseSection.astro'
import Heading from '@components/Heading.astro'
import BaseButton from '@components/BaseButton.astro'
---

<BaseSection
  class="text-center"
  id="collaborations"
>
  <Heading>
    collaborations sparks <br /> new beginnings.
  </Heading>

  <p class="max-w-5xl text-[clamp(0.5rem,5vw,3rem)] mx-auto mb-10">
    I'm available for worldwide freelance work <br /> let's connect for
    potential collaborations.
  </p>

  <BaseButton
    class="w-full text-white max-w-3xl mx-auto"
    iconRight="arrow-right"
    aria-label="get in touch"
  >
    get in touch
  </BaseButton>
</BaseSection>
