---
import BaseSection from '@components/BaseSection.astro'
import Heading from '@components/Heading.astro'
---

<BaseSection
  class="bg-white rounded-3xl text-black"
  id="about"
>
  <Heading>About me.</Heading>
  <div class="flex flex-wrap justify-between gap-10">
    <div class="text-[clamp(1rem,5vw,2rem)] space-y-4 max-w-3xl ml-auto">
      <p>
        My journey in this field has been an exhilarating one, marked by
        continuous learning and a deep commitment to creating exceptional user
        experiences.
      </p>
      <p>
        Throughout my career, I've had the privilege of working on a diverse
        range of projects, from e-commerce platforms to interactive web
        applications.
      </p>
      <p>
        My primary focus has always been on crafting clean, intuitive, and
        visually appealing user interfaces. I take pride in my ability to
        transform complex ideas into elegant, user-friendly designs.
      </p>
    </div>
  </div>
</BaseSection>
